*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}
h1{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
button{
  height: 100px;
  width: 100px;
  cursor: pointer;
  
  
}
